@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body{
  background-color: #F7EBE7;
}

.header{
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100%; 
}
